#quote-input-block {
  margin: 50px 0px;
}

.quote-list {
  box-sizing: border-box;
  width: 600px;
  height: fit-content;
  margin: auto;
  background: #fe67e3;
  padding: 10px 10px 80px 10px;
  margin-bottom: 100px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}